.contact-page{
    background-image: -webkit-linear-gradient(115deg, #a683e3 50%, lightgrey 50%);
  }
  
  .contact-footer{
    background-color: transparent;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 .7rem 2rem grey;
    /* max-height: 4rem; */
    /* margin: 5rem; */
    display: block;
  }
  