.namebox {
  top: 8rem;
  left: 0rem;
  font-size: 1.1rem;

  @include res(phone) {
    font-size: 1rem;
  }


  &__name {
    font-family: 'Dancing Script', cursive;
    margin: 3rem 0;
  }

  &__greet {
    margin: auto;
  }

  &__description {
    margin: 1rem 0;
    margin-bottom: 3rem;
  }

  &__blog-btn {
    text-decoration: underline;
    display: inline-block;
    padding: .4rem .6rem;
    border-radius: .03rem;
    font-size: 1.3rem;
    text-align: center;

    &:hover {
      background-color: rgb(76, 177, 245);
      transform: translateY(-.07rem);
      transition: all .2s;
      font-weight: 300;
      color: white;
    }


  }




}


.main {
  margin: auto 9rem;
  position: relative;
  width: 80%;
  display: inline-block;
  max-width: 100%;

  @include res(tab-port) {
    margin-left: 0;
    display: inline-block;
    width: 100%;

  }

  @include res(phone) {
    margin-left: .3rem;
    position: relative;
    width: 100%;
    display: inline-block;
    max-width: 100%;
    overflow-x: hidden;
  }



}


.section-namebox {
  display: block;
  padding: 6rem;
  padding-left: 0;
  @include res(tab-port) {
    // margin-left: 0;
    padding-left: 1rem;
   

  }

}

.section-blobs {
  // position: absolute;
  @include res(tab-port) {
    // overflow-x: hidden;

  }

}

.section-cubes {
  // position: relative;
  @include res(tab-port) {
    // overflow-x: hidden;
  }

}

.section-projects {
  @include res(tab-port) {
    // margin-left: 0;
    padding-left: 1rem;

  }
}

.section-about {
  margin: 3rem auto;
  margin-bottom: 10rem;
}

.section-designs {
  position: relative;

  @include res(phone) {
    margin-bottom: 10rem;
  }
}