.about {
    margin-top: 12rem;
    width: 100%;
    position: relative;
    font-size: 1.1rem;

    @include res(tab-port) {
        margin-top: 7rem;
    }

    @include res(phone) {
        width: 100%;
        margin-top: 0;
        margin-right: 0;
    }



    &__header {
        padding-bottom: 5rem;
        color: #10ac10;
        margin-bottom: 2rem;
        font-size: 3.7rem;

        @include res(tab-port) {
            margin-bottom: 2rem;
            padding-left: 1rem;

        }

        @include res(phone) {
            margin: 0;
        }
    }

    &__profile {
        margin-bottom: 12rem;

        &--img {
            width: 23%;
            border-radius: .2rem;
            float: right;

            @include res(tab-port) {
                width: 35%;
                padding-left: 1rem;
            }

            @include res(phone) {
                width: 75%;
            }

        }

        &--text {
            padding: 2rem;
            padding-left: 0;

            display: inline-block;
            width: 55%;
            font-size: 1.1rem;

            @include res(tab-port) {
                margin: 0;
                display: inline-block;
                width: 100%;
                font-size: 1rem;
                padding: 1rem;


                // &:hover {
                //     /* background-image: linear-gradient(to right bottom, #06beb598 , #00d2ee94  ); */
                //     transform: translateY(1rem);
                //     transition: all .3s;
                //     box-shadow: 0 .5rem 2rem #aaaaaa;
                //     transform: scale(1.12);
                // }
            }
        }
    }



    &__coding {
        position: relative;
        width: 100%;
        height: 50rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);

      

        @include res(tab-port) {
            height: 60rem;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            margin: 5rem auto;
            z-index: 2;
        }


        // background-image: linear-gradient(to right bottom, #000000b4, #494949b6), url(../static/images/code.jpg);
        @include res(phone) {
            height: 60rem;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            margin: 5rem auto;
        }

        &--img {
            height: 37rem;
            width: 78%;
            z-index: -1;
            background-image: linear-gradient(to right bottom, #0000008c, #00000096), url(../static/images/code.jpg);
            background-repeat: no-repeat;

            @include res(tab-port) {
                height: 42%;
                width: 66%;
                 z-index: 1;
                background-image: linear-gradient(to right bottom, #0000008c, #00000096), url(../static/images/code.jpg);
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 6rem;
                background-size: 130%;
            }



            @include res(phone) {
                height: 28%;
                position: absolute;
                z-index: 1;
                left: 0;
                background-size: 170%;
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }

        }

        &--text {
            position: absolute;
            top: 13rem;
            left: 25rem;
            display: inline-block;
            width: 65%;
            height: 33rem;
            padding: 2rem;
            color: white;
            background-image: linear-gradient(to right bottom, #06beb5, #00d2ee);

            @include res(tab-port) {
                background-size: cover;
                display: inline-block;
                left: 0rem;
                width: 100%;
                margin: 0px auto;
                padding: 2rem;
                color: #222;
                text-align: left;
                width: 100%;
                padding-top: 5rem;
                z-index: -1;
                top: 24rem;
                border: 20px solid white;


            }

            @include res(phone) {

                display: inline-block;
                left: 0rem;
                top: 10rem;
                width: 100%;
                margin: 0px auto;
                padding: 1rem;
                color: white;
                text-align: left;
                width: 100%;
                padding-top: 10rem;
                background-image: linear-gradient(to right bottom, #06beb5, #00d2ee);
                height: 70rem;
                z-index: -1;
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                border: 12px solid white;
            }


            &-header {
                text-decoration: none;
                margin-bottom: 2rem;
                text-transform: capitalize;
                color: green;
                font-size: 1.7rem;

                @include res(tab-port){
                    text-align: right;
                    padding-right: 3rem;
                }


            }


        }

        &-items {
            display: flex;
            flex-wrap: wrap;
            color: white;
            border: 20px solid white;
            margin: 0 auto;
            margin-bottom: 5rem;
            width: 70%;
            @include res(tab-port){
                width: 100%;
                margin-bottom: 9rem;
            }

            @include res(phone) {
                width: 100%;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: .7rem 1rem;

            &-img {
                height: 2rem
            }

            &-header {}

            &:hover {
                transform: translateY(.07rem);
                transition: all .3s;
                transform: scale(1.07);

            }
        }

        &-stack {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
            background-image: linear-gradient(rgba(#8d2de2, .7),
                    rgba(#4b00e0, .7));

            &-header {
                width: 100%;
                text-align: center;
                font-size: 95%;
                color: #222;

                // background-color: red;
                // align-self: flex-start;
                // justify-self: self-end;
            }


        }



    }



    &__design {
        position: relative;
        width: 100%;
        margin-bottom: 22rem;

        @include res(tab-port){
            margin-bottom: 36rem;
        }

        &--header {
            color: green;
            font-size: 1.7rem;
            margin-bottom: 2rem;

            @include res(tab-port) {
                color: green;
                font-size: 1.7rem;
                margin-bottom: 5rem;
                margin-top: 7rem;
            }

        }

        &--img {
            height: 40%;
            width: 70%;
            // background-image: linear-gradient(to right bottom, #000000a1, #2c2c2c5d), url(../static/images/deer.jpg);
            margin-left: 21rem;

            @include res(tab-port){
                margin-left: 14rem;
            }

            @include res(phone) {
                height: 40%;
                width: 84%;
                margin-left: 5rem;
            }
        }

        &--text {
            display: inline-block;
            width: 55%;
            /* background-image: linear-gradient(to right bottom, #000000a1, #2c2c2c5d), url(../static/images/deer.jpg); */
            height: 70%;
            color: white;
            background-size: cover;
            padding: 3rem;
            font-size: 1.1rem;
            background-color: purple;
            position: absolute;
            top: 17rem;
            left: 5rem;

            @include res(tab-port) {
                background-size: cover;
                display: inline-block;
                width: 100%;
                height: 34rem;
                margin: 0 auto;
                padding: 2rem;
                color: #dee2e6;
                text-align: left;
                -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
                clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
                width: 100%;
                position: absolute;
                left: 0;
                z-index: -1;
                border: 20px solid lightgray;
                top: 12rem;
            }

            @include res(phone) {
                background-size: cover;
                width: 100%;
                height: 33rem;
                padding: 2rem;
                color: #dee2e6;
                text-align: left;
                width: 100%;
                position: absolute;
                left: 0rem;
                top: 9rem;
                z-index: -1;
                -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
                clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
                border: 12px solid white;
            }


            // &:hover {
            //     transform: translateY(.05rem);
            //     transition: all .3s;
            //     box-shadow: 0 .5rem 2rem black;
            //     transform: scale(1.04);
            // }

            &-blog-btn {
                text-decoration: underline;
                display: inline-block;
                padding: .4rem .6rem;
                border-radius: .3rem;
                font-size: 1.3rem;
                text-align: center;
                text-transform: capitalize;
                margin-left: 35rem;

                @include res(tab-port) {
                    right: 7rem;
                    bottom: 4rem;
                    margin-left: 0;
                }


            }
        }
    }
}