.about {
    margin-top: 12rem;
    width: 100%;
    position: relative;
    font-size: 1.1rem;

    @include res(tab-port) {
        margin-top: 7rem;

    }

    @include res(phone) {
        width: 100%;
        margin-top: 0;
        margin-right: 0;
    }
  


    &__header {
        padding-bottom: 5rem;
        color: #10ac10;
        margin-bottom: 2rem;

        @include res(tab-port) {
            margin-bottom: 2rem ;
            padding-left: 1rem;

        }

        @include res(phone) {
            margin: 0;

        }
    }

    &__profile {
        margin-bottom: 6rem;

        &--img {
            display: inline-block;
            width: 23%;
            border-radius: .2rem;


            @include res(tab-port) {
                width: 35%;
                padding-left: 1rem;
            }
            @include res(phone) {
                width: 75%;
            }

        }

        &--text {

            padding: 2rem;

            display: inline-block;
            width: 65%;
            font-size: 1.1rem;

            @include res(tab-port) {
                margin: 0;
                display: inline-block;
                width: 100%;
                font-size: 1rem;
                padding: 1rem;


                // &:hover {
                //     /* background-image: linear-gradient(to right bottom, #06beb598 , #00d2ee94  ); */
                //     transform: translateY(1rem);
                //     transition: all .3s;
                //     box-shadow: 0 .5rem 2rem #aaaaaa;
                //     transform: scale(1.12);
                // }
            }
        }
    }



    &__coding {
        position: relative;
        width: 100%;


        &--text {
            display: inline-block;
            width: 100%;
            background-image: linear-gradient(to right bottom, #0000006c, #4949495d), url(../static/code.jpg);
            -webkit-clip-path: polygon(0 0, 100% 13%, 379% 19%, 0 100%);
            clip-path: polygon(0 0, 100% 13%, 379% 19%, 0 100%);
            height: 32rem;
            padding: 5rem;
            color: white;
            padding-right: 24rem;
            margin-bottom: 3rem;
            padding-left: 9rem;

            @include res(tab-port) {
                background-size: cover;
                display: inline-block;
                left: 0rem;
                width: 100%;
                height: 34rem;
                margin: 0px auto;
                padding: 2rem;
                color: #dee2e6;
                text-align: left;
                -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
                clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
                width: 100%;
                padding-top: 5rem;
                
    
            }

            @include res(phone) {
                background-size: cover;
                display: inline-block;
                left: 0rem;
                width: 100%;
                height: 37rem;
                margin: 0px auto;
                padding: 2rem;
                color: #dee2e6;
                text-align: left;
                -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
                clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
                width: 100%;
                padding-top: 5rem;
                
    
            }
            

            @include res(phone) {
                background-size: cover;
                display: inline-block;
                left: 0rem;
                width: 100%;
                height: 47rem;
                margin: 0px auto;
                padding: 2rem;
                color: #dee2e6;
                text-align: left;
                -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
                clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
                width: 100%;
                padding-top: 5rem;
            }

            &-header {
                text-decoration: none;
                margin-bottom: 2rem;
                text-transform: capitalize;
                color: green;
                font-size: 1.7rem;


            }


        }

        &:hover {
            transform: translateY(.07rem);
            transition: all .3s;
            transform: scale(1.04);

        }
    }



    &__design {
        position: relative;

        width: 100%;

        

        &--header {
            color: green;
            font-size: 1.7rem;
            margin-bottom: 2rem;

            @include res(tab-port) {
                color: green;
                font-size: 1.7rem;
                margin-bottom: 5rem;
                margin-top: 7rem;

            }

        }

        &--text {

            display: inline-block;
            width: 100%;
            background-image: linear-gradient(to right bottom, #000000a1, #2c2c2c5d), url(../static/deer.jpg);
            -webkit-clip-path: polygon(0 1, 110% 3%, 386% -57%, 100% 100%);
            clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0 85%);
            height: 31rem;
            color: white;
            background-size: cover;
            padding: 9rem;
            font-size: 1.1rem;

            @include res(tab-port) {
                background-size: cover;
                display: inline-block;
                width: 100%;
                height: 34rem;
                margin: 0 auto;
                padding: 2rem;
                color: #dee2e6;
                text-align: left;
                -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
                clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
                width: 100%;
            }
            @include res(phone) {
                background-size: cover;

                display: inline-block;
                /* left: 0rem; */
                width: 100%;
                height: 39rem;
                margin: 0 auto;
                padding: 2rem;
                color: #dee2e6;
                /* margin-bottom: 4rem; */
                text-align: left;
                -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
                clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
                width: 100%;
            }


            &:hover {
                transform: translateY(.05rem);
                transition: all .3s;
                box-shadow: 0 .5rem 2rem black;
                transform: scale(1.04);

            }

            &-blog-btn {
                text-decoration: underline;
                display: inline-block;
                padding: .4rem .6rem;
                border-radius: .3rem;
                font-size: 1.3rem;
                text-align: center;
                text-transform: capitalize;
                margin-left: 35rem;

                @include res(tab-port) {
                    right: 7rem;
                    bottom: 4rem;
                    margin-left: 0;
                }


            }
        }
    }
}