 $c-blue-light:#00b4db;
 $c-blue-dark:#0083b0;

$grid-width: 71rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 3.75rem;
$gutter-vertical-small-2: 2rem;
$gutter-horizontal: 3.75rem;

// $gutter-vertical:8rem;
// $gutter-horizontal:6rem;


// $gutter-vertical-small: 6rem

// GRID

