<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8" name="viewport" content="width=device-width, user-scalable=no">

  <!-- title -->
  <title>Takuonline</title>
  
    <!-- Static files -->
  <link rel="stylesheet" href="/static/style.css">

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
  </script>
</head>


<body>
<!-- collapsing nav bar -->
  <div class="c-nav">
      <input type="checkbox" class="c-nav__checkbox" id="navi-toggle">
      <label for="navi-toggle" class="c-nav__button">
          <span class="c-nav__icon">&nbsp;</span>
      </label>
      <div class="c-nav__background">&nbsp;</div>
      <nav class="c-nav__nav">
          <ul class="c-nav__list">
              <li class="c-nav__item"><a href="{{url_for("core_app.home")}}" class="c-nav__link"><span>01</span> Home</a></li>
             <!--  <li class="c-nav__item"><a href="#about" class="c-nav__link"><span>02</span>About Me</a></li> -->
              <li class="c-nav__item"><a href="{{url_for("core.index")}}" class="c-nav__link"><span>02</span> My blog</a></li>
              <li class="c-nav__item"><a href="{{url_for("core_app.contact")}}" class="c-nav__link"><span>03</span> Contact</a></li>
              <!-- <li class="c-nav__item"><a href="#" class="c-nav__link"><span>05</span> Book now</a></li> -->
          </ul>
      </nav>
  </div>


  <nav class="mynavbar">
    <!-- <a class="#" href="{{url_for("core_app.home")}}"> <img class="logo" src="../static/logo/logo.png" alt="Logo"></a> -->
    <div  class="logo" > <a  href="{{url_for("core_app.home")}}">Taku</a>  </div>
   

    <ul class="nav-list">
      
      <li>
        <a class=" navbar-custom" href="{{url_for("core_app.home")}}">Home</a>
      </li>
      <li>
        <a class=" navbar-custom" href="{{url_for("core_app.contact")}}">Contact</a>
      </li>
      <li>
        <a class=" nav-myblog" href="{{url_for("core.index")}}">My blog</a>
      </li>
    </ul>
  </nav>

  {%block content%}

  {% endblock %}


</body>

</html>