

body {
  background-color: lightgrey;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  position: relative;

  @include res(tab-port){
    // width: 100%;
    // height: 100%;
    // margin: 0px;
    // padding: 0px;
    overflow-x: hidden; 
  
  }
}

.my-footer {
  position: absolute;
  background-color: rgb(37, 33, 33);
  text-align: center;
  font-size: 1.1rem;
  text-decoration: none;
  bottom: 0;
  width: 100%;
  height: 3rem;
  
}